@using EPiServer.Web.Mvc.Html
@model EPiServer.Reference.Commerce.Site.Features.Login.ViewModels.LoginViewModel


<div class="col-md-6 col-sm-6 jsLoginBlockWrapper">
    <h3>@Html.Translate("/Login/Form/Label/Heading")</h3>
    <p>@Html.Translate("/Login/Form/Label/LoginMessage")</p>

    <div class="quicksilver-well">
        @using (Html.BeginForm("InternalLogin", "Login", FormMethod.Post, new { @class = "jsLoginBlock", @role = "form" }))
        {
            @Html.HiddenFor(x => x.ReturnUrl)

            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autofocus = "autofocus", id = "email-login" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "password-login" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(x => x.RememberMe) @Html.Translate("/Login/Form/Label/RememberMe")
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn--blue">@Html.Translate("/Login/Form/Label/Login")</button>

            if (Model.ResetPasswordPage != null)
            {
                <a class="col-md-offset-1" href="@Url.ContentUrl(Model.ResetPasswordPage)">@Html.Translate("/Login/Form/Label/ForgotPasswordLink")</a>
            }
        }
    </div>
</div>

